html, body{
    margin:0;
    padding:0;
    height: 100%;
    font-family:Arial;
}
body{
    margin:0;
    padding:0;
    height: 100%;
    background-size: cover;
    background-position: center;
  
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;

}
.logo{
    width:100px;
    height:auto;
    float:left;
    margin-right:15px;
}

.topnav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    align-items: center;
    background-color:rgba(200, 154, 200, 0.7);
    padding: 10px 20px;
    z-index:5;
    border-bottom:2px solid #c89ac8;
}

.topnav a{
    color:black;
    padding:10px 20px;
    font-size: 16px;
    margin:0 5px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: rgb(174,27,90);
    color:white;
    border-radius: 5 px;
}

.topnav nav a.active{
    background-color: rgb(174,27,90);
    color:white;
    border-radius: 5 px;
}

.topnav .login{
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.search-container{
    flex-grow:0.3;
    display:flex;
    align-items:center;
    margin-left:15px;
}

.search-container input[type="text"]{
    width:100%;
    padding: 8px 12px;
    font-size: 14px;
    margin-left:250px;
    border:#c89ac8;
    border-radius:5px 0 0 5px;
    outline:None;
}

.search-container button{
    padding: 8px 12px;
    font-size: 14px;
    background-color: #8a47a3;
    color:White;
    border:none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-container button:hover{
    background-color: rgb(174,27,90);
}

main{
   
    color: black;
    font-size: 1.5em;
    height: 100%;

}
.main-content{
   
    padding: 20px;
    text-align: center;
    color:white;
}

.main-content h1{
    color:white;
    font-size: 2.5em;
    margin-top: 350px;
}
.main-content p{
    color:white;
    font-size: 20px;
    margin-top: 50px;
}
span{
    color:rgb(69, 201, 69);
    font-size: 2em;
 
}

.courses-section{
    padding: 50px 20px;
    background-color: white;
    text-align: center;
    height: 100%;
}

.courses-section h2{
    font-size: 2.5em;
    color: #8a47a3;
    margin-bottom: 20px;
    margin-top: 50px;
}
.courses-container{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap:20px;

}
.course-box{
    background-color: white;
    border:1px solid #ddd;
    border-radius: 10px;
    padding:20px;
    width:250px;
    text-align:center;

}

.course-box h3{
    font-size:1.5em;
    color:#8a47a3;
    margin-bottom: 10px;
}

.course-box p{
    font-size:1em;
    color:#666;
    margin-bottom:15px;

}

.course-box button{
    padding:10px 15px;
    background-color:#8a47a3;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size: 1em;
}

.course-box button :hover{
    background-color: #c89ac8;

}

footer{
    
    text-align:center;
    background-color: #8a47a3;
    color: white;
}
.footer-container{
    padding:20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-section{
    padding: 50px 20px;
    background-color: white;
    text-align: center;
    height: 100%;

}

.success-container{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap:20px;
}

.success-section h2{
    font-size: 2.5em;
    color: #8a47a3;
    margin-bottom: 20px;
    margin-top: 50px;
}
.success-box{
    background-color: white;
    border:1px solid #ddd;
    border-radius: 10px;
    padding:20px;
    width:250px;
    text-align:center;

}

.success-box h3{
    font-size:1.5em;
    color:black;
    margin-bottom: 10px;
}
.success-box p{
    font-size:1em;
    color:#666;
    margin-bottom:15px;
}

.about-section{
    padding: 50px 20px;
    background-color: white;
    text-align: center;
    height: 100%;
}
.about-head{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    background-color: #8a47a3;
    width: 80%;
}
.about-section h5{

    color:black;
    height:100%;
    font-size: 2.5em;
   
}
.about-container{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap:20px;

}
.about-content{
    margin-top:-30px;;
    border: 1px solid #666;
    width :90%;
    border-radius:5px;
}
.about-content h4{
    color: #8a47a3;
    font-size: 2em;


}
.about-content p{
    color:black;
}

.contact-head{
    
    margin-top: 150px;
    background-color: white;
    text-align: center;
}
.contact-section{
    padding: 50px 20px;
    background-color: white;
    margin-left: 500px;
    height: 100%;
  

}
.contact-head h2{
    font-size: 2.5em;
    color: #8a47a3;
 
}
.contact-head p{
    font-size: 2em;
    color:black;
   
}
.form-group label{
    color:black;
    margin:20px 20px;
    display: block;
    font-weight:bold; 
    text-align:left;  

}
.form-group{
    top:0;
}
.contact-form, .Loginform input[type="text"],input[type="email"],textarea{
    border:1px solid #8a47a3;
    border-radius:4px ;
    width:90%;
    padding: 8px 12px;
    font-size: 14px; 
    border-radius:5px 0 0 5px;
}


.contact-form {
    padding: 30px;
    max-width:700px;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    max-height:600px;
    border: 1px solid #555;
    border-radius: 5px;
}
.Loginform {
    padding: 30px;
    max-width:700px;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    max-height:600px;
    border: 1px solid #555;
    border-radius: 5px;

}
.loginbtn
.contact-form button{
    padding:10px 15px;
    background-color:#8a47a3;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size: 1em;
    margin-top: 20px;

}
#expbtn{
    padding:10px 15px;
    background-color:#8a47a3;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size: 1em;
    text-decoration: none;
}