 body{
            font-family:'Times New Roman', Times, serif;
            background-image:url("https://thumbs.dreamstime.com/b/news-newspapers-folded-stacked-word-wooden-block-puzzle-dice-concept-newspaper-media-press-release-42301371.jpg");
            backdrop-filter: blur(30px) ;
            height: 100vh;
            width:100vh;
            width: auto;
            background-size:cover;
            background-position: center;
        
        }
    
.container {
  width: 520px;
  margin: 80px auto;
  background: rgb(225, 216, 225);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}
button {
    text-decoration: none;
    padding: 10px;
    margin: 8px 0;
    font-size: 14px;
    place-content: center;
    background-color:chocolate;
    color:black;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover{
     background-color:rgb(147, 69, 14);
}

h1{
    text-align: center;
    color:#8a47a3
}
        .search-box {
            margin:10px;
            padding:10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
#loginForm  #signupForm{
    padding: 30px;
    max-width:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-height:600px;
    border-radius: 5px;

}
label{
    color:black;
    margin:20px 20px;
    display: block;
    font-weight:bold; 
    text-align:left;  
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  width:500px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.login, .signup{
            text-decoration: none;
            margin-top:20px;
            padding: 8px 12px;
            font-size: 18px;
            font-weight: bold;
            align-items: center;
            width:100px;
            height: 50px;
            background-color:chocolate;
            color:black;
            border:none;
            border-radius: 5px;
            cursor: pointer;       
}
input{
  width: 80%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;  
  align-items: center;
  border:1px solid #c89ac8;
  outline:None;

}
 button {
  width: 100px;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;  
  align-items: center;
  border:1px solid #c89ac8;
  outline:None;
}

 a{
    text-decoration: none;
    font-weight: bold;
}
 p{
    text-align: center;
    font-size: 18px;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  color: white;
  padding: 15px 25px;
}

nav h2 span {
  color: #38bdf8;
}

#newsContainer {
  background-color: white;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  overflow: hidden;
  padding: 10px;
  text-align: center;
 
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.card h3 {
  font-size: 20px;
  color: #111827;
}

.card p {
  font-size: 18px;
  color: #555;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: #2563eb;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

body.modal-open{
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.modal{
  display: flex;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
 
}
.modal-content{
  
  display:flex;
  flex-direction: column;
  background-color: white;
  padding:20px;
  border-radius: 10px;
  width:350px;
  text-align:left;
  z-index:10000;
}
.modal-content input,.modal-content button{
  font-size: 16px;
  padding:8px;

}
.modal-actions{
  display: flex;
  justify-content: space-between;
}

.delete_btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
}

.delete_btn:hover {
  background-color: #c0392b;
 
}

#deleteAllBtn {
  display: block;
  margin: 30px auto 20px auto;
  padding: 8px 14px;
  background: #e74c3c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  width: 150px;
  
}

#deleteAllBtn:hover {
  background: darkred;
   transform: scale(1.05);
}